page-start {
    ion-content{
        background: url(../../assets/imgs/back1.jpg);
        background-size: cover;
        background-position: center;
        text-align: center;
        color: aliceblue;
    }

    h1{
        margin-top: 10px; 
        font-family: 'Arial Narrow Bold', sans-serif;
    }

    .logo{
        opacity: 0.7;
        margin-top: 20%;
    }

    .btn{
        opacity: 0.8;
    }
}
