page-sports-news {
    ion-content{
        text-align: center;
    }

    .nav{
        opacity: 0.9;
    }


    .card{
        box-shadow: 2px 2px green;
        border-radius: 10px;
    }
    .title{
        margin-left: -5px;
    }
}
