page-sports-view {

    ion-content{
        // background: url(../../assets/imgs/sportsback.jpg);
        background-position: right;
        background-size: cover;
        margin-top:18%;
        font-size: 1.5em;
        text-align: center;
    }

}
