page-world-news {
    .nav{
        opacity: 0.8;
    }

    ion-content{
        background-color: chartreuse;
        font-size: 1em;
    }

    .toolbar-background {
        background: #fff;
        border-color: transparent;
      }
}
